:root {
  --main-color: #5dade2; /* Light blue */
  --hover-color: #3498db; /* Slightly darker blue for hover effects */
  --text-color: white;
  --background-color: #f2f2f2; /* Light grey background for lists */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 15px;
  text-align: center;
}

nav {
  background-color: var(--main-color);
  overflow: hidden;
}

nav a {
  float: left;
  color: var(--text-color);
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--hover-color);
}

.selectedNav {
  background-color: var(--hover-color);
}

.container {
  padding: 20px;
}

.footer {
  margin-top: auto;
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
}

.button {
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 10px 15px;
  text-decoration: none;
  margin: 5px 0;
  display: inline-block;
}

.button:hover {
  background-color: var(--hover-color);
}

.recipe-list,
.comment-list {
  list-style-type: none;
  padding: 0;
}

.recipe-list li,
.comment-list li {
  background-color: var(--background-color);
  margin: 10px 0;
  padding: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type="password"],
input[type="email"],
textarea,
select {
  width: 100%;
}

input[type="text"] {
  width: 90%;
}

input[type="submit"] {
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--hover-color);
}

/* Additional styles */

/* For forms */
form label {
  display: block;
  margin-top: 10px;
}

/* For discussion forum */
.post {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.post h4 {
  margin: 0;
}

.post p {
  margin: 5px 0;
}

.discussion-form textarea {
  height: 100px;
}

/* Rating stars */
.rating {
  color: gold;
  font-size: 1.5em;
}

.comment-form textarea {
  height: 80px;
}

/* Components */
.button {
  background-color: var(--main-color);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
}

.button:hover,
.button:focus {
  background-color: var(--hover-color);
}

.searchField {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
